@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "normalize.css";
@import "variables.css";

/*component*/
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/notification.css";
@import "component/icons-row.css";
@import "component/alt-screen-header.css";

/*screen*/
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chat.css";

body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25em;
    height: 1000vh;
}
.main{
    padding: 0px var(--horizontal-space);
}

.font-weight--low{
    font-weight: 400;
}