.recommended-friends{
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding: 27px 0px;
    margin: 37px 0px;
}

.recommended-friends__title{
    font-size: 27px;
    opacity: 0.5;
}

.recommended-friends__state{
    text-align: center;
    margin: 160px 0px;
    font-size: 32px;
    opacity: 0.4;
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    font-size: 27px;
    opacity: 0.5;
}
.open-chat__column:last-child{
    opacity: 0.45;
}

.open-post__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.open-post__title{
    margin: 0;
}

.open-post__column:first-child{
    display: flex;
    flex-direction: column;
    font-size: 28px;
}
.open-post__hashtag{
    text-transform: uppercase;
    margin: 7px 0px;
    opacity: 0.5;
}

.open-post__state{
    display: flex;
    align-items: center;
}

.open-post__state .divider{
    width: 2px;
    height: 30px;
    margin-right: 7px;
    background-color: rgba(0,0,0,0.4);
}

.open-post__state img{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.open-post__members{
    margin: 0px 7px;
    opacity: 0.5;
}

.open-post__active{
    color: pink;
}

.open-post__column:last-child{
    position: relative;
}

.open-post__column:last-child img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.open-post__heart-count{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    padding: 6px;
    border-radius: 15px;
    bottom: 12px;
    right: 10px;
    color: white;
}
