.friend-display{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    height: 66px;
    border-radius: 10px;
    margin-bottom: 13px;
}
.friend-display span{
    margin: 0px 10px;
    font-size: 30px;
    opacity: 0.5;
}
.friend-display i{
    opacity: 0.5;
}

.channel{
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
    border-top: var(--main-border);
    margin: 33px 0px;
    padding-top: 23px;
}