.welcome-header{
    margin: 130px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 48px;
}
.welcome-header__text{
    text-align: center;
    font-size: 28px;
    width: 60%;
    opacity: 0.6;
}

#login-form{
    display: flex;
    flex-direction: column;
}

#login-form input::placeholder{
    font-size: 38px;
}

#login-form input:required{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    
}
