.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: var(--main-border);
}
.nav__list{
    display: flex;
    justify-content: space-around;
}

.nav__item{
    position: relative;
}

.badge{
    position: absolute;
    top: 0px;
    right: -10px;
}